<div class="container"></div>
<!--
<div class="container">
	<app-circle
		*ngFor="let circle of circles"
		[ngStyle]="{'left': circle.x + 'px', 'top': circle.y + 'px'}"
	></app-circle>
</div>
-->

<!-- FOUR
<div class="container">
	<div #ball class="ball"></div>
</div>
-->

<!-- THREE
<div class="container">
	<div #ball class="ball" [ngStyle]="{'left': coordinates.x + 'px', 'top': coordinates.y + 'px'}"></div>
</div>
-->

<!-- TWO
<div class="container">
	<div #ball class="ball" [ngStyle]="{'left': coordinates.x + 'px', 'top': coordinates.y + 'px'}"></div>
</div>
-->

<!-- ONE
<button #left md-raised-button color="accent">Left</button>
<button #right md-raised-button color="accent">Right</button>
<hr>
<div class="container">
  <div #ball class="ball" [ngStyle]="{'left': coordinates.x + 'px', 'top': coordinates.y + 'px'}"></div>
</div>
-->