<mat-drawer-container fullscreen>
	<mat-drawer #sidenav mode="side" class="app-sidenav">
		<mat-nav-list>
			<a mat-list-item
				[routerLink]="example.path"
				routerLinkActive="active"
				*ngFor="let example of examples">
				<span mat-line>{{example.name}}</span>
			</a>
		</mat-nav-list>
	</mat-drawer>

	<mat-toolbar color="primary">
		<button class="app-icon-button" (click)="sidenav.toggle()">
			<i class="material-icons app-toolbar-menu">menu</i>
		</button>
		RxJS Examples
	</mat-toolbar>

	<div class="app-content">
		<router-outlet></router-outlet>
	</div>
</mat-drawer-container>

<!-- SIX
<div class="container">
	<app-circle
		*ngFor="let circle of circles"
		[style.left]="circle.x + 'px'"
		[style.top]="circle.y + 'px'">
	</app-circle>
</div>
-->

<!-- FIVE: Animation
<div class="container">
	<div #ball class="ball"></div>
</div>
-->

<!-- FOUR
<div class="container">
	<app-line
		*ngFor="let line of lines" [line]="line">
	</app-line>
</div>
-->

<!-- TWO AND THREE -->
<!--<pre>{{position|json}}</pre>
<div class="container">
	<div #ball class="ball"
		[style.left]="position.x + 'px'"
		[style.top]="position.y + 'px'">
	</div>
</div>
-->


<!-- ONE
<button #left mat-raised-button color="accent">Left</button>
<button #right mat-raised-button color="accent">Right</button>
<div class="container">
	<div #ball class="ball"
		[style.left]="position.x + 'px'"
		[style.top]="position.y + 'px'">
	</div>
</div>
-->

<!-- ZERO
<button #btn mat-raised-button color="accent">Click me!</button>
<div class="container">
	<h1>{{message}}</h1>
</div>
-->
