@import '~@angular/material/prebuilt-themes/purple-green.css';

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.ball {
    cursor: pointer;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    background-image: radial-gradient(orange, red);
}
.pin {
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: absolute;
  background: transparent url('assets/pin.png') no-repeat;
  background-size: contain;
}
.spaceship {
  pointer-events: none;
  width: 100px;
  height: 100px;
  position: absolute;
  background: transparent url('assets/spaceship.png') no-repeat;
  background-size: contain;
}
.circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    background-image: radial-gradient(#DDD, white);
    pointer-events: none;
}
app-circle {
    position: absolute;
}
app-shot {
  position: absolute;
}
