body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.ball {
    cursor: pointer;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    background-image: radial-gradient(orange, red);
}
.circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    background-image: radial-gradient(#DDD, white);
}
app-circle {
    position: absolute;
}
